# Identity Service
IDENTITY_ConnectionStrings__IdentityDatabase=Host=your_db_host;Port=your_port;Database=your_db_name;Username=your_db_user;Password=your_db_password
IDENTITY_ConnectionStrings__Redis=your_redis_host:your_port

# Catalog Service
CATALOG_ConnectionStrings__CatalogDatabase=Host=your_db_host;Port=your_port;Database=your_db_name;Username=your_db_user;Password=your_db_password

# Notification Service
NOTIFICATION_ConnectionStrings__NotificationDatabase=Host=your_db_host;Port=your_port;Database=your_db_name;Username=your_db_user;Password=your_db_password

# Procurement Service
PROCUREMENT_ConnectionStrings__ProcurementDatabase=Host=your_db_host;Port=your_port;Database=your_db_name;Username=your_db_user;Password=your_db_password

# Supplier Service
SUPPLIER_ConnectionStrings__SupplierDatabase=Host=your_db_host;Port=your_port;Database=your_db_name;Username=your_db_user;Password=your_db_password
