RabbitMqSettings__Host=your_rabbitmq_host
RabbitMqSettings__Port=your_rabbitmq_port
RabbitMqSettings__Username=your_rabbitmq_user
RabbitMqSettings__Password=your_rabbitmq_password
JwtSettings__SecretKey=your_jwt_secret_key_min_32_characters
Serilog__WriteTo__1__Args__serverUrl=your_seq_url
EmailSettings__Host=your_smtp_host
EmailSettings__Username=your_email
EmailSettings__Password=your_email_password
EmailSettings__From=your_email
